<?xml version="1.0"?>
<robot name="rover">
  <link name="base_link" />

  <!-- Four simple wheel joints: wheel_0_joint .. wheel_3_joint -->
  <link name="wheel_0_link"/>
  <joint name="wheel_0_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_0_link"/>
    <origin xyz="0.3 0.2 0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="wheel_1_link"/>
  <joint name="wheel_1_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_1_link"/>
    <origin xyz="0.3 -0.2 0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="wheel_2_link"/>
  <joint name="wheel_2_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_2_link"/>
    <origin xyz="-0.3 0.2 0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="wheel_3_link"/>
  <joint name="wheel_3_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_3_link"/>
    <origin xyz="-0.3 -0.2 0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

</robot>
